@import "tailwindcss";

/* FULL SCREEN FIX */
html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* remove vite default centering */
body {
  min-height: 100vh;
}

/* optional smooth text */
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}